In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="hbstudent",
  password="hbstudent",
  database="ibm_datascience"
)

mycursor = mydb.cursor()

In [3]:
mycursor.execute("SELECT count(*) FROM chicagopublicschools")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(566,)

In [4]:
mycursor.execute("SELECT count(*) FROM crimedata")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(533,)

In [5]:
mycursor.execute("SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM chicagocensusdata WHERE PER_CAPITA_INCOME < 11000")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(26, 'West Garfield Park')
(30, 'South Lawndale')
(37, 'Fuller Park')
(54, 'Riverdale')

In [6]:
mycursor.execute('SELECT CASE_NUMBER FROM ibm_datascience.crimedata where DESCRIPTION like "%minor%"')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('HL266884',)
('HK238408',)

In [7]:
mycursor.execute('SELECT * FROM ibm_datascience.crimedata where PRIMARY_TYPE like "KIDNAPPING"')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(5276766, 'HN144152', datetime.datetime(2007, 1, 26, 0, 0), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')

In [8]:
mycursor.execute('SELECT distinct(PRIMARY_TYPE) FROM ibm_datascience.crimedata where LOCATION_DESCRIPTION like "%SCHOOL%"')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('BATTERY',)
('CRIMINAL DAMAGE',)
('NARCOTICS',)
('ASSAULT',)
('CRIMINAL TRESPASS',)
('PUBLIC PEACE VIOLATION',)

In [9]:
mycursor.execute('SELECT * FROM chicagocensusdata order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(54, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98)
(37, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97)
(68, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94)
(29, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87)
(27, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83)

In [10]:
mycursor.execute('''SELECT COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as COMMUNITY_COUNT FROM crimedata 
                 group by COMMUNITY_AREA_NUMBER order by COMMUNITY_COUNT desc limit 1''')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(25, 43)

In [11]:
mycursor.execute('''SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM chicagocensusdata WHERE 
           HARDSHIP_INDEX = (SELECT HARDSHIP_INDEX FROM chicagocensusdata ORDER BY HARDSHIP_INDEX DESC LIMIT 1)''')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Riverdale', 98)

In [12]:
mycursor.execute('''SELECT COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) AS COMMUNITY_COUNT , 
        (SELECT COMMUNITY_AREA_NAME FROM chicagocensusdata WHERE 
        chicagocensusdata.COMMUNITY_AREA_NUMBER = crimedata.COMMUNITY_AREA_NUMBER) AS COMMUNITY_NAME 
FROM ibm_datascience.crimedata GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COMMUNITY_COUNT DESC LIMIT 1''')

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(25, 43, 'Austin')

In [1]:
int(3.99)

3

In [3]:
import numpy as np
a=np.array([0,1,0,1,0]) 
b=np.array([1,0,1,0,1]) 
a/b

C:\Users\Indika\AppData\Local\Temp\ipykernel_9072\3995254365.py:4: RuntimeWarning: divide by zero encountered in true_divide
  a/b

array([ 0., inf,  0., inf,  0.])